PORT=5000

MONGODB_URI=mongodb+srv://shivaraj130122_db_user:shivaraj130122@cluster0.kd69com.mongodb.net/arts_world?appName=Cluster0

JWT_SECRET=bhavani_art_world_change_this_to_a_long_random_secret

CLIENT_URL=http://localhost:5173